body {
  background: 
  url("../images/architecture-bg.jpg") 100% no-repeat;
  background-color: black;
}



.grid-x {
  margin: 0 1% 0 1%;
}

.menu {
  position: relative;
  background-color: black;
  color: white;
  height: 600px;
}

.circularThumbnail {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* margin: 10% 0 0 10%; */
  /* padding: 0 0 0 0; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: url("../images/Thumbnail_Potatoe.jpg") no-repeat 50%;
  max-width: 100%;
}

#eventsSection,
#collectionSection {
  color: white;
  background-image: linear-gradient(
    rgba(218, 226, 239, 0.8),
    rgba(218, 226, 239, 0)
  );
}

#eventsSection p {
  margin-bottom: 0.5rem;
}

h2, h3 {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0.25% 0 0.25% 2rem;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  color: white;
}

#eventImage {
  width: 100%;
}

.eventTmp_listItem {
  margin: 5% 5% 0 5%;
  background-color: black;
  display: inline-block;
}

.eventThumbnail {
  border-width: 0;
  width: 25%;
  margin-bottom: 0;
}

.bggLink {
  position: relative;
  /* width: 240px; */
}

.bggLink input {
  border: none;
  /* background: #fff; */
  /* display: block; */
  /* width: 100%; */
  /* box-sizing: border-box; */
}

.bggLink img {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  background: transparent;
}

.eventDetails {
  float: right;
  text-align: right;
  margin: 5% 5% 0 0;
}

.collectionThumbnail {
  border-width: 1px;
  border-color: black;
  width: 25%;
  margin: 0 1% 2% 1%;
}

.tooltip {
  position: relative;
  display: inline-block;
  background: transparent;
  padding: 0;
  z-index: 1;
}

/* Tooltip text */
.tooltip .gameTmp_title {
  display: none;
  background-color:black;
  text-align: center;
  padding: 0.2rem 0.3rem;
  border-radius: 6px;
  word-wrap: normal;
  font-size: 0.7rem;

  position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .gameTmp_title {
  display: initial;
}

.eventPageThumbnail {
  width: 15%;
}

.callout {
  margin-top: 0;
}

#eventDescript {
  margin-left: 2rem;
}