body {
  background: 
  url("../images/architecture-bg.jpg") 100% no-repeat;
  background-color: black;
  /* position: top; */
}

h1, h2, h3 {
  font-family: 'Fredericka the Great', cursive;
}

h4, h5, h6, p {
  font-family: 'Stardos Stencil', cursive;
  color:
}

#siteTitle {
  padding: 1rem .5rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  background: linear-gradient(rgba(179, 255, 0, .33), rgba(179, 255, 0, 0));
  text-shadow: -2px -4px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 650px) {
  #siteTitle {
    text-orientation: initial;
    writing-mode: horizontal-tb;
  };
}

#loginModal {
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  color: rgb(179, 255, 0);
  border: 1.5px solid rgb(179, 255, 0);
  font-family: 'Stardos Stencil', cursive;
}

#loginModal h1 {
  margin-bottom: 10px;
}

#login_submit {
  background-color: rgba(179, 255, 0, .75);
  color: black;
}

#login_userName {
  font-family: 
}

.grid-x {
  margin: 0 1% 0 1%;
}

.menu {
  position: relative;
  background-color: black;
  color: rgb(179, 255, 0);
  height: 600px;
  border: solid .1rem rgba(179, 255, 0, .75);
  text-align: center;
  font-family: 'Stardos Stencil', cursive;
}

.menu a {
  padding: 0; /* overrides foundations weird padding */
}

#profileThumbnail {
  width: 75%;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
  border: solid .1rem rgb(179, 255, 0);
  border-radius: 50%;
}

#createEventBtn {
  color: white;
}

#signout_btn, #signin_btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(179, 255, 0, .75);
  color: black;
}

#eventModal {
  border: solid .1rem rgb(179, 255, 0);
  background: rgba(0, 0, 0, .75);
  color: rgb(179, 255, 0);
  font-family: 'Stardos Stencil', cursive;

}

#eventModal label {
  color: rgb(179, 255, 0);
}

#eventModal .button {
 background: rgb(179, 255, 0);
 color: black;
 margin-top: 1rem;  
}

#eventsSection,
#collectionSection {
  color: white;
  background-image: linear-gradient(
    rgba(218, 226, 239, 0.8),
    rgba(218, 226, 239, 0));
  height: 100%;
}

#eventsSection p {
  margin-bottom: 0.5rem;
}

#eventsSection input {
  padding-left: 1rem;
  border: solid .1rem rgb(179, 255, 0);
  margin-bottom: 0;
}

.titleBkgd {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0.25% 1rem;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  color: rgb(179, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titleBkgd button, #voteLock_btn {
  background-color: rgb(179, 255, 0);
  color: black;
}

.callout {
  background-color: rgba(218, 226, 239, 0.85);
}

#voteLock_btn {
  color: black;
  display: inline;
}

#eventImage {
  width: 100%;
}

.eventTmp_listItem {
  margin: 1.5rem 5% 0 5%;
  background-color: black;
  display: inline-block;
}

.eventDetails {
  float: right;
  text-align: right;
  margin: 1% 2% 0 0;
  font-size: 1.5rem;
}

a {
  color: rgb(179, 255, 0);
}

.eventDetails .eventTmp_date {
  font-size: 1rem;
}

.eventDetails #eventAddress {
  font-size: .75rem;
}

.eventThumbnail {
  border-width: 0;
  width: 30%;
  margin-bottom: 0;
}


.bggLink {
  position: relative;
  /* width: 240px; */
}

.bggLink img {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  background: transparent;
}

#collectionSection input {
  padding-left: 4rem;
  border: solid .1rem rgb(179, 255, 0);
  margin-bottom: 0;
}

#chosenGames {
  margin: 1rem 1.5rem 0 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.collectionThumbnail {
  /*! width: 50%;  problem */
  margin: 0 1% 2% 1%;
}

.hoverTooltip {
  position: relative;
  display: inline-block;
  background: transparent;
  padding: 0;
  z-index: 1;
}

/* Tooltip text */
.hoverTooltip .gameTmp_title {
  display: none;
  background-color:black;
  color:  rgb(179, 255, 0);
  text-align: center;
  padding: 0.2rem 0.3rem;
  /* border-radius: 6px; */
  word-wrap: normal;
  font-size: 0.7rem;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hoverTooltip:hover .gameTmp_title {
  display: initial;
}

.eventPageThumbnail {
  width: 15%;
}

.voteContainer {
  margin-top: 0;
  margin-bottom: 3rem;
  border: solid .1rem rgb(179, 255, 0);
}

.eventContainer {
  margin-top: 0;
  margin-bottom: 3rem;
  border: solid .1rem rgb(179, 255, 0);
  display: flex;
  justify-content: space-between;
}

.eventContainer .eventDetails {
  text-align: left;
  vertical-align: inherit;
}

#map {
  height: 300px;
  width: 300px;
  position: relative;
  /* overflow: hidden; */
  /* display: inline; */
  /* display: flex; */

}

#votingModal {
  height: 40rem;
  max-height: 100%;
  padding: 0;
  border: solid .1rem rgb(179, 255, 0)
}

#gameSelection {
  position: sticky;
  top: 0;
  background: rgba(218, 226, 239, 0.8);
  z-index: 10;
  border-bottom: solid .25rem rgb(40, 46, 42);
  margin: 0;
}

#eventsList, #joinEventForm, #bggLinkForm, .button, .hoverTooltip {
  font-family: 'Stardos Stencil', cursive;
}

#collectionList {
  margin: 1rem .75rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Stardos Stencil', cursive;
}

#gameSelection h5,#gameSelection button {
  margin: 1rem;
}
#gameSelection button {
  margin-right: 0;
  background-color: rgb(179, 255, 0);
  color: black;
}

#voteCollectionTitle {
  margin: 1rem 1rem;
}

#modalCollection {
  padding: 0;
}

#doneSubmit {

}

#voteResultsList, #myVotedList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  font-family: 'Stardos Stencil', cursive;
}
